
.saves{
  background-color: silver;
color: red;
margin: 5px;
}

.footer{
  position: fixed ;
  bottom: 0;
  width: 100%;
}

.welcome{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgb(157, 157, 228), rgb(204, 99, 204), rgb(207, 124, 124));
}